body{
    text-align: center;
    background: hsl(165, 3%, 51%);

}
.radio{
    font-size: 1.5em;
}
.btn{
    font-size: 5em;
}
form{
    background-color: aquamarine;
    max-width: 350px;
    max-height: 450px;
    margin: auto;
    box-shadow: 5px 5px 5px;
}
#temp{
    border: 2px solid black;
}